/*
 Theme Name:   Stormcatcher 2025
 Theme URI:    https://stormcatcher.co.uk
 Description:  Theme for Stormcatcher
 Author:       Lamcat - DS
 Author URI:   https://www.lamcat.co.uk/
 Template:     understrap
 Version:      1.0.3
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  lc-str2025
 Tags: one-column, custom-menu, featured-images, theme-options, translation-ready
 GitHub Theme URI: LamcatUK/lc-str2025
*/
