.insights {

    &.bg-white {
        --_card-bg: var(--col-grey-100);
    }
    &.bg-grey-100 {
        --_card-bg: var(--col-white);
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 2rem;
    }
    .line {
        flex: 1;
        height: 1px;
        background-color: var(--col-primary-400);
    }

    &__grid {
        display: grid;
        gap: 1rem;
        grid-template-areas: "first" "second" "third" "fourth" "fifth";

        @media (min-width:768px) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "first first" "second third" "fourth fifth";
        }
        @media (min-width:992px) {
            grid-template-columns: 2fr 1fr 1fr;
            grid-template-rows: 1fr auto;
            grid-template-areas: "first second third" "first fourth fifth";
        }
    }

    &__card {
        background-color: var(--_card-bg);


        color: var(--col-black);
        text-decoration: none;
        display: grid;
        align-content: space-between;

        box-shadow: var(--shadow-lg);
        border-radius: var(--border-lg);
        transition: box-shadow var(--transition), transform var(--transition);

        &:hover {
            // img {
            //     transform: scale(1.1);
            // }
            color: var(--col-black);
            box-shadow: var(--shadow-sm);
            transform: translateY(2px);
        }

        h3, p {
            padding-inline: 1rem;
        }


        .insights__image {
            width: 100%;
            aspect-ratio: 16 / 9;
            overflow: hidden;
            margin-bottom: 0.75rem;
            border-top-left-radius: var(--border-lg);
            border-top-right-radius: var(--border-lg);
        }
        .insights__meta {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            &.insights__meta--first {
                justify-content: start;
                align-items: flex-end;
            }
            .insights__categories {
                display: flex;
                flex-wrap: wrap;
                gap: 0.25rem;
                justify-self: flex-end;
            }
            .insights__date {
                font-size: var(--fs-200);
            }
            .insights__category {
                border: 1px solid var(--col-accent-400);
                color: var(--col-black);
                font-family: var(--ff-body);
                font-size: var(--fs-100);
                font-weight: var(--fw-400);
                text-transform: uppercase;
                padding: 0.15rem 0.5rem;
                border-radius: var(--border-sm);
            }
        }
        img {
            aspect-ratio: 16 / 9;
            object-fit: cover;
            transition: transform var(--transition);
        }
        h3 {
            font-family: var(--ff-body);
            font-size: var(--fs-400);
            margin-bottom: 0.5rem;
        }

    }
    &__card:nth-of-type(1) {
        grid-area: first;
        h3 {
            font-size: var(--fs-500);
        }
    }
    &__card:nth-of-type(2) {
        grid-area: second;
    }
    &__card:nth-of-type(3) {
        grid-area: third;
    }
    &__card:nth-of-type(4) {
        grid-area: fourth;
    }
    &__card:nth-of-type(5) {
        grid-area: fifth;
    }
}