.button {
  padding: 0.5em 1.5em;
  text-decoration: none;
  transition: background-color var(--transition), color var(--transition),
    border var(--transition);
  font-weight: var(--fw-600);
  font-size: var(--fs-300);
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  align-self: start;
  border-radius: var(--border-sm);
}

.button--sm {
  padding: 0.5em 1em;
  font-size: var(--fs-200);
  line-height: 1;
}

.button-outline {
  border: 2px solid var(--col-black);
  color: var(--col-black);
  background-color: transparent;
  &.active,
  &:hover {
    background-color: var(--col-black);
    color: var(--col-white);
  }
}

.button-primary {
  border: 1px solid var(--col-accent-400);
  background-color: var(--col-accent-400);
  color: var(--col-black);
  &:hover {
    background-color: var(--col-accent-200);
    color: var(--col-black);
    border-color: var(--col-black);
  }
}

.button-secondary {
  border: 1px solid var(--col-secondary-400);
  background-color: var(--col-secondary-400);
  color: var(--col-white);
  &:hover {
    background-color: var(--col-secondary-200);
    color: var(--col-white);
    border-color: var(--col-secondary-400);
  }
}

.button-filter {
  border: 1px solid var(--col-secondary-400);
  background-color: var(--col-white);
  padding: 0.5em 1em;
  font-size: var(--fs-200);
  line-height: 1;
  cursor: pointer;
  &.active {
    background-color: var(--col-secondary-400);
    color: var(--col-white);
  }
}
