header {
  background-color: var(--col-grey-100);
  box-shadow: var(--shadow-sm);

  color: var(--col-black);

  .navbar-toggler,
  .nav-tel {
    color: var(--col-black);
    transition: color var(--transition);
    &:hover {
      color: var(--col-accent-400);
    }
  }

  .contact-info {
    color: var(--col-black);
    a {
      color: var(--col-black);
      transition: color var(--transition);
      text-decoration: none;
      &:hover {
        text-decoration: none;
        color: var(--col-accent-400);
      }
    }
  }

  .navbar-nav {
    margin-block: 0;
  }

  .current-menu-item,
  .current_page_parent,
  .current-menu-ancestor {
    font-weight: var(--fw-600);
    .nav-link::after {
      transform: scaleX(1);
    }
  }

  .dropdown-toggle::after {
    margin-left: 0;
  }

  .nav-link {
    color: var(--col-black);
    position: relative;
    width: max-content;
    &::after {
      position: absolute;
      content: "";
      background-color: var(--col-secondary-400);
      height: 5px;
      bottom: 0;
      left: 0;
      width: 100%;
      transform-origin: bottom center;
      transform: scale(0);
      transition: transform var(--transition);
      border: none !important;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }
  }

  .logo-container {
    max-width: 312px;
    margin-right: 1rem;
  }

  .logo {
    background-image: url(../img/stormcatcher--dk.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    aspect-ratio: 312 / 58;
    min-width: 180px;
    max-width: 100%;
    width: 220px;
    @media (min-width: 768px) {
      width: 240px;
    }
    @media (min-width: 1200px) {
      width: 280px;
    }
    @media (min-width: 1400px) {
      width: 312px;
    }
  }
}

.w-lg-auto {
  @media (min-width: 992px) {
    width: auto !important;
  }
}
